importFrom("stats", sd, quantile, rweibull, rlnorm, rchisq, rexp, dweibull, dlnorm, dchisq, dexp,
                    pweibull, plnorm, pchisq, pexp, rbinom, rgeom,
                    rpois, rnbinom,  dbinom, dgeom, dpois, dnbinom,
                    pbinom, pgeom, ppois, pnbinom, dnorm, dunif, pnorm, qnorm, punif, runif, bw.nrd,
                    bw.SJ,dcauchy, pcauchy, qcauchy, qlnorm, qunif, qweibull, rcauchy, rnorm, integrate)

importFrom("sn", dsn, psn, qsn, rsn)

importFrom("skewt", dskt, pskt, qskt, rskt)

importFrom("gamlss.dist", dSHASHo, pSHASHo, qSHASHo, rSHASHo)

exportPattern("^[[:alpha:]]+")

exportPattern("^[^\\.]")
